# Sets in python 
## Introduction
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed). However, the set itself is mutable. We can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

## Creating a set
A set is created by placing all the items (elements) inside curly braces `{}`, separated by comma, or by using the built-in `set()` function.

It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have a mutable element, like list, set or dictionary, as its element.

## Creating an empty set
A set can be created by using the built-in `set()` function without any argument.

## Set Oprations
1. **Add an element to a set**: We can add a single element using the `add()` method, and multiple elements using the `update()` method. The `update()` method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.
2. **Remove elements from a set**: A particular item can be removed from a set using the methods `discard()` and `remove()`.
3. **Remove all elements from a set**: The `clear()` method is used to remove all the elements of a set.
4. **Python Set Operations**: Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

## Built-in Functions with Set
1. **len()**: Gives the total length of the set.
2. **max()**: Returns the largest element.
3. **min()**: Returns the smallest element.
4. **sum()**: Returns the sum of all elements in the set.

## Built-in Methods with Set
1. **add()**: Adds an element to the set.
2. **clear()**: Removes all elements from the set.
3. **copy()**: Returns a copy of the set.
4. **difference()**: Returns the difference of two or more sets as a new set.
5. **difference_update()**: Removes all elements of another set from this set.

## mathematical set operations
1. **Union**: The union of two sets `A` and `B` is the set of elements which are in `A`, in `B`, or in both.
2. **Intersection**: The intersection of two sets `A` and `B` is the set of elements which are in both `A` and `B`.
3. **Difference**: The difference of two sets `A` and `B` (also called the set-theoretic difference) is the set of elements in `A` but not in `B`.
4. **Symmetric Difference**: The symmetric difference of two sets `A` and `B` is the set of elements which are in either of the sets and not in their intersection.

## Example
```python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [2]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [3]:
# set elements cannot be mutable
set2 = {"pop", "rock", "soul", "hard rock", ["rock", "R&B", "rock", "disco"]}

TypeError: unhashable type: 'list'

In [4]:
# convert a list to a set
album_list = ["Michael Jackson", "Thriller", 1982, "00:42:19", "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Set Oprations:

In [5]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [6]:
# Add element to set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [7]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [8]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [9]:
# Verify if the element is in the set

"AC/DC" in A

True

### Sets Logic Operations

In [10]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [11]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [12]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [13]:
# find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [14]:
# use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [15]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [16]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [17]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [18]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [19]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True